@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

*{
	@apply p-0 m-0 box-border;
}

html {
    @apply text-[16px] scroll-smooth overflow-x-hidden scrollbar;
}

body {
	@apply 
	dark:bg-dark-1 
	dark:text-dark-4 
	dark:selection:bg-casetrue 
	dark:selection:text-dark-1;
}

.page-enter-active,
.page-leave-active {
	@apply transition-all duration-[0.4s];
}

.page-enter-from,
.page-leave-to {
	@apply opacity-0 blur-[1rem];
}

.active svg {
	@apply dark:text-casetrue;
}

section {
	@apply transition-all duration-300 ease-in-out;
}

img {
	@apply select-none;
}