@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

*{
	@apply p-0 m-0 box-border;
}

html {
    @apply text-[16px] scroll-smooth overflow-x-hidden scrollbar;
}

body {
	@apply 
	dark:bg-dark-1 
	dark:text-dark-4 
	dark:selection:bg-casetrue 
	dark:selection:text-dark-1;
}

.page-enter-active,
.page-leave-active {
	@apply transition-all duration-[0.4s];
}

.page-enter-from,
.page-leave-to {
	@apply opacity-0 blur-[1rem];
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
	@apply opacity-0 blur-[1rem];
}

.active svg {
	@apply dark:text-casetrue;
}

section {
	@apply transition-all duration-300 ease-in-out;
}

img {
	@apply select-none;
}

a {
	@apply transition-all duration-300 ease-in-out;
}

@layer components{
	.fade-t {
		@apply after:content-[''] 
			after:absolute after:bottom-0 after:left-0 
			after:pointer-events-none 
			after:bg-gradient-to-t after:from-dark-1 
			after:w-full after:h-[50%];
	}
	.fade-b {
		@apply after:content-[''] 
			after:absolute after:top-0 after:left-0 
			after:pointer-events-none 
			after:bg-gradient-to-b after:from-dark-1 
			after:w-full after:h-[50%];
	}
	.fade-l {
		@apply after:content-[''] 
			after:absolute after:bottom-0 after:right-0 
			after:pointer-events-none 
			after:bg-gradient-to-l after:from-dark-1 
			after:w-[10%] after:h-full
			after:p-0 after:m-0;
	}
	.fade-r {
		@apply after:content-[''] 
			after:absolute after:bottom-0 after:left-0
			after:pointer-events-none 
			after:bg-gradient-to-r after:from-dark-1 
			after:w-[10%] after:h-full;
	}
}